
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<style>
      /* Reimu video preload */
      #reimu-video-preload{position:relative;overflow:hidden;height:auto;max-width:1400px}#reimu-preload-container{display:-webkit-flex;display:flex;-webkit-flex-direction:column;flex-direction:column;-webkit-align-items:center;align-items:center;-webkit-justify-content:center;justify-content:center;background-color:#fff}#reimu-preload-text{display:block;width:100%;color:#4a4a4a;text-align:center;margin:5% auto;font-size:4vmin;font-family:Roboto,sans-serif}#reimu-preload-image{width:50%;display:block;margin:auto}#reimu-preload-spinner{margin:5% auto;width:50px;height:30px;text-align:center;font-size:10px}#reimu-preload-spinner>div{background-color:#4a4a4a;height:100%;width:6px;display:inline-block;-webkit-animation:sk-stretchdelay 1.2s infinite ease-in-out;animation:sk-stretchdelay 1.2s infinite ease-in-out}#reimu-preload-spinner .rect2{-webkit-animation-delay:-1.1s;animation-delay:-1.1s}#reimu-preload-spinner .rect3{-webkit-animation-delay:-1s;animation-delay:-1s}#reimu-preload-spinner .rect4{-webkit-animation-delay:-.9s;animation-delay:-.9s}#reimu-preload-spinner .rect5{-webkit-animation-delay:-.8s;animation-delay:-.8s}@-webkit-keyframes sk-stretchdelay{0%,100%,40%{-webkit-transform:scaleY(.4)}20%{-webkit-transform:scaleY(1)}}@keyframes sk-stretchdelay{0%,100%,40%{transform:scaleY(.4);-webkit-transform:scaleY(.4)}20%{transform:scaleY(1);-webkit-transform:scaleY(1)}}

      /**
       * Custom background color for Video preload
       * Change if needed.
       */
      #reimu-preload-container {
        background-color: #fff;
      }
    </style>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.3.15/slick.css" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<div id="reimu-content" class="reimu-style">
    <div id='reimu-video-preload'>
        <div id='reimu-preload-container'>
            <div id='reimu-preload-text'>
                Watch and Shop
            </div>
            <img id='reimu-preload-image' src="https://app.reimucommerce.com/media/demo/images/preLoaderBg.png"/>
            <div id="reimu-preload-spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
      var reimuConfig = {
        reimuOrgId: "57c08035e4a00b6e79b1a6dd",
        reimuAppId: "OE%20Reimu",
        videoId: "597f0533e4b02d11dea0f5a0",
        videoTime: 0,
        secretKey: "eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE3ODA3ODc0MjQsInN1YiI6IjU2ODQ4M2I2MmQwZWZkNjgzM2MxYjUzYiIsIm5iZiI6MTQ2NTQyNzQyNCwianRpIjoiMzQ4NjkyZTctYjk2Ny00YjQyLWIzOTAtZDczYWUwNmZmZTUzIiwiaWF0IjoxNDY1NDI3NDI0fQ.lnMrEj_MMlAfv6iZtJM2XWs6C-cRCobcSbjQ9rDxZNo",
        designType: "Easterly",
        apiProtocol: "https:",
        apiUrl: "app.reimucommerce.com",
        serverPort: "80",
        isEmbed: true
      };
    </script>
<script src="https://app.reimucommerce.com/media/javascript/commons/dependencies.js?v=1521244429895" charset="UTF-8" type="text/javascript"></script>
<script src="https://app.reimucommerce.com/media/javascript/standard/bundle.min.js?v=1521244429895" charset="UTF-8" type="text/javascript"></script>
